.contentContainer{
    min-height: 40vh;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: white;
    padding-top: 80px; 
    padding-bottom: 100px;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

.contentTitle{
    font-size: 22px; 
    font-weight: bolder;
    margin-bottom: 30px; 
    margin-top: 30px; 
}

.imgContainerWrapper{
    margin-top: 30px;
    margin-bottom: 30px;
}

.imgContainer{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 130px; height: 130px;
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	margin-bottom: 18px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
}

.imgContainer img{
	width: inherit; height: inherit;
	object-fit: cover;
}

.contentContent{
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 30px;
}

.barChart{
    
    width:auto; height: 40px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
    align-items: center;
}


.barName{
    text-align: end;
    width: fit-content;
}

.barContainer{
    height: 10px;
    display: flex; flex-direction: row;
    padding-left: 10px; padding-right: 10px;
    border-radius: 2px;
    overflow: hidden;
}

.filledBar{
    width: 10vw;
    background-color: rgb(140, 175, 140);
}
.oppositeBar{
    width: 20vw;
    background-color: rgb(195, 208, 182);
}

.barPercent{
    text-align: start;
    width: fit-content;
}
